@import "variables";
@import "mixins/index";
@import "mixins/btn";

.HomeView {
  margin-top: calc(100vh);
}

.HomeView__firstView {
  width: 100%;
  height: calc(100vh - 55px);
  margin-top: 55px;
  color: $mdColorBlack;
  position: absolute;
  top: 0px;
  background-image: url('../../images/HomeView__firstView.jpg');
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.HomeView__firstView__text {
  height: calc(100vh - 55px - 150px);
  padding-top: calc(100vh - 55px - 50vh - 50px);
  text-align: center;
}

.HomeView__startBtn {
  @include baseBtnLargeLayout;
  margin: 0 auto;
  color: #fff;
  background-color: $mdColorBase;
  &:hover {
    opacity: 0.8;
  }
}

.HomeView__explain {
  padding: 100px 0;
}

.HomeView__explain__content {
  display: flex;
  justify-content: center;
}

.HomeView__explain__text {
  @include baseContainerText
  color: $mdColorBlack;
  line-height: 1.6;
}

.HomeView__explain__text__icon {
  font-size: 20px;
  color: $mdColorBase;
}

@media (max-width: $screenSm) {
  .HomeView__firstView {
    height: 100vh;
    margin-top: 0;
    background-size: auto 100%;
  }
}
