@import "mixins/index";
@import "variables";

.NotFoundView {
  @include baseContainerText;
}

.NotFoundView__link {
  text-decoration: none;
  color: $mdColorBlack;
  &:hover {
    text-decoration: underline;
  }
}
