@import "mixins/index";
@import "variables";

.NotFoundView {
  @include baseContainerText;
}

.NotFoundView__text {
  color: $mdColorBlack;
}

.NotFoundView__text--link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: $screenSm) {
  .NotFoundView {
    margin-top: 50px;
  }
}
