@import 'mixins/index';

.Sharers {
  height: 20px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.Sharers__icon {
  font-size: 20px;
  color: $twHeaderTextColorActive;
}

.Sharers.isShow {
  .Sharers__contentWp,
  .Sharers__content,
  .Sharers__overlay {
    visibility: visible;
  }
  .Sharers__content {
    height: 20px;
    width: 90px;
  }
  .Sharers__overlay {
    opacity: 1
  }
}

.Sharers__contentWp {
  visibility: hidden;
  position: absolute;
  top: 25px;
  left: -6px;
  z-index: 910;
  padding: 10px;
  background: #fff;
  border-radius: 2px;
  transition: visibility .1s ease;
  &:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 10px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px;
    border-color: transparent transparent #fff;
  }
}

.Sharers__content {
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 0;
  height: 0;
  transition: height .2s ease, width .2s ease, visibility .1s ease;
}

.Sharers__overlay {
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s ease, visibility .2s ease;
  transform-style: preserve-3d;
  @include overlay;
}

@media (max-width: $screenSm) {
  .Sharers__contentWp {
  }
  .Sharers.isShow {
    .Sharers__contentWp,
    .Sharers__content,
    .Sharers__overlay {
    }
    .Sharers__content {
      width: 140px;
    }
    .Sharers__overlay {
    }
  }
}
