@import "mixins/index";
@import "mixins/btn";
@import "mixins/util";
@import "variables";

.ModalPost {

}

.ModalPost__form {
  @include clearfix;
}

.ModalPost__input {
  @include mdInput;
  background: $mdBaseColorOpacity01;
}

.ModalPost__submit {
  @include baseBtnLayout;

  color: #fff;
  background: $mdBaseColor;

  float: right;
  margin-top: 9px;
}

@media (max-width: $screenSm) {
  .ModalPost {
    padding-top: 30px;
  }
  .ModalPost__input {
    background: #fff;
  }
}
