@import 'base';
@import 'vendor/normalize';
@import 'mixins';
@import 'variables';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want

// タグは読み込まれるが、classは`core__className___2IoGp`のように変換されてしまい、
// `styles['className']`のようにしないといけない。
// そのため、このファイルに書くものは原則としてタグのみとし、
// class名で定義したものは、適宜呼び出して使う必要がある。

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

// for testing
p {
  @include pannelHeadline;
  color: $baseColor;
}
