$mdColorBase: rgb(63,81,181);
$mdColorBaseOpacity08: #6573C3;
$mdColorBaseOpacity01: #ECEDF8;

$mdColorBlack: #212121;
$mdColorRed: #F44336;
$mdColorPink: #E91E63;
$mdColorAmber: #FFC107;

$twHeaderTextColor: #66757f;
$twHeaderTextColorActive: #2C4762;

$facebookColor: #3b5998;
$twitterColor: #00acee;
$hatebuColor: #2c6ebd;
$lineColor: #86C900;
$googleColor: #db4437;

$screenSm: 768px;
$screenMd: 992px;
$screenLg: 1200px;
