@import 'mixins';
@import 'variables';

.Navigation {
  height: 55px;
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  z-index: 1000;
}

.Navigation__list {
  display: flex;
  height: 100%;
  justify-content: space-between;
  list-style-type: none;
}

.Navigation__list li {
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  &:hover {
    @include NavigationChildIsActive;
  }
}

.Navigation__list li > i {
  padding-top: 9px;
}

@media (max-width: $screenSm) {
  .Navigation {
    top: auto;
    bottom: 0;
    box-shadow: 0 -4px 5px 0 rgba(0,0,0,0.14), 0 -1px 10px 0 rgba(0,0,0,0.12), 0 -2px 4px -1px rgba(0,0,0,0.2);
  }
}
