@import 'mixins/index';
@import 'variables';

.Navigation {
  height: 55px;
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  z-index: 1000;
}

.Navigation__list {
  // PCのみ
  display: block;

  height: 100%;
  list-style-type: none;
}

.Navigation__list li {
  // PCのみ
  display: block;
  float: left;
  width: 100px;
  height: 55px;
  text-align: center;

  cursor: pointer;
  &:hover {
    @include NavigationChildIsActive;
  }
  &:first-child {
    float: right;
    &:after {
      // content: 'Post';
      // font-size: 12px;
    }
  }
}

.Navigation__list li > i {
  padding-top: 9px;
}

@media (max-width: $screenSm) {
  .Navigation {
    top: auto;
    bottom: 0;
    box-shadow: 0 -4px 5px 0 rgba(0,0,0,0.14), 0 -1px 10px 0 rgba(0,0,0,0.12), 0 -2px 4px -1px rgba(0,0,0,0.2);
  }

  .Navigation__list {
    display: flex;
    justify-content: space-between;
  }

  .Navigation__list li {
    // PCの打ち消し
    width: 100%;
    height: auto;
    float: none;

    display: flex;
    justify-content: center;
  }
}
