@import 'variables';
@import 'mixins/index';

.Modal {
  cursor: default;
}

.Modal.isShow {
  .Modal__overlay, .Modal__content {
    visibility: visible;
    opacity: 1;
  }
}

.Modal__overlay {
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s ease, visibility .2s ease;
  @include overlay;
}

.Modal__content {
  visibility: hidden;
  padding: 25px;
  width: 500px;
  height: 300px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 3px;
  z-index: 910;
  opacity: 0;
  transition: opacity .2s ease, visibility .2s ease;
}

.Modal__close {
  visibility: hidden;
}

@media (max-width: $screenSm) {
  .Modal.isShow {
    .Modal__content {
      top: 0;
    }
    .Modal__overlay {
      visibility: hidden;
    }
    .Modal__close {
      visibility: visible;
      top: 0px;
    }
  }

  .Modal__content {
    width: 100%;
    height: 100%;
    top: 100vh;
    bottom: auto;
    transition: top .3s ease, visibility 1s ease;
  }

  .Modal__close {
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    position: fixed;
    top: 100vh;
    right: 0px;
    transition: top .3s ease, visibility 1s ease;
    z-index: 920;
  }
}
