@import "keyframes/index";
@import "variables";

.Loading {
  text-align: center;
}

.Loading__icon {
  animation: spin 1.5s linear infinite;
}

@media (max-width: $screenSm) {
  .Loading {
    margin-top: 20px;
  }
}
