@import "variables";
@import "mixins/index";
@import "mixins/btn";

.ModalLogin {
  margin-top: 45px;
}

.ModalLogin__SocialBtn {
  @include baseBtnLargeLayout;
  color: #fff;
  margin: auto auto 20px;
}

.ModalLogin__SocialBtn--Facebook {
  background: $facebookColor;
}

.ModalLogin__SocialBtn--Twitter {
  background: $twitterColor;
}

.ModalLogin__SocialBtn--Google {
  background: $googleColor;
}
