@import "variables";

.Footer {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.Footer__link--github {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../../images/GitHubMark.png');
  background-position: center;
  background-size: 100%;
}

.Footer__link--about {
  text-decoration: none;
  color: $mdColorBlack;
  font-size: 14px;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: $screenSm) {
  .Footer {
    margin: 80px 0;
  }
}
