@import "variables";

.UserSettings {
  margin-bottom: 20px;
}

.UserSettings__list {
  list-style: none;
  li {
    height: 30px;
    margin-bottom: 10px;
  }
}

.UserSettings__list__icon {
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
  color: $twHeaderTextColorActive;
}

.UserSettings__list__text {
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  color: $mdColorBlack;
}

.UserSettings__list__select {
  vertical-align: middle;
  display: inline-block;
  margin-top: 1px; // 微調整...
}

.UserSettings__list__logout {
  display: inline-block;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

@media (max-width: $screenSm) {
  .UserSettings {
    margin: 20px;
  }
}
