@import 'variables';

.CoreLayout {

}

.CoreLayout__viewContainer {
  margin-top: 75px;
}

@media (max-width: $screenSm) {
  .CoreLayout__viewContainer {
    margin-top: 0px;
    margin-bottom: 75px;
  }
}
