@import 'variables';
@import 'mixins/index';

.SharerLine {
  background-color: $lineColor;
  @include socialBtn;
  display: none;
}

@media (max-width: $screenSm) {
  .SharerLine {
    display: inline-block;
  }
}
