@import "variables";

@mixin NavigationChildIcon {
  font-size: 28px;
}

@mixin NavigationChildIsActive {
  color: #2C4762;
  border-bottom: 4px #2C4762 solid;
}

@mixin NavigationChildIsNotActive {
  background: #fff;
}

@mixin NavigationChildText {
  line-height: 55px;
  float: left;
  font-size: 14px;
  @media (max-width: $screenSm) {
    display: none;
  }
}

// カードデザインの影
@mixin mdCardShadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

// ベースコンテナ。タイムラインなど。
@mixin baseContainer {
  width: 590px;
  margin: 0 auto;
  @media (max-width: $screenSm) {
    width: 100%;
  }
}

// visibilityやopacityのtransitionなどは各コンポーネントで操作する
@mixin overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 900;
}

// よくあるokpのソーシャルボタン
@mixin socialBtn {
  width: 20px;
  height: 20px;
  transition: transform .2s,-webkit-transform .2s;
  text-align: center;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
}
