@mixin m-10 {
  margin: 10px;
}

@mixin mtb-10 {
  margin-top: 10px;
}

@mixin mt-10 {
  margin-top: 10px;
}

@mixin mrl-10 {
  margin-right: 10px;
}

@mixin mr-10 {
  margin-right: 10px;
}

@mixin mtb-10 {
  margin-bottom: 10px;
}

@mixin mb-10 {
  margin-bottom: 10px;
}

@mixin mrl-10 {
  margin-left: 10px;
}

@mixin ml-10 {
  margin-left: 10px;
}

@mixin m-20 {
  margin: 20px;
}

@mixin mtb-20 {
  margin-top: 20px;
}

@mixin mt-20 {
  margin-top: 20px;
}

@mixin mrl-20 {
  margin-right: 20px;
}

@mixin mr-20 {
  margin-right: 20px;
}

@mixin mtb-20 {
  margin-bottom: 20px;
}

@mixin mb-20 {
  margin-bottom: 20px;
}

@mixin mrl-20 {
  margin-left: 20px;
}

@mixin ml-20 {
  margin-left: 20px;
}

@mixin m-30 {
  margin: 30px;
}

@mixin mtb-30 {
  margin-top: 30px;
}

@mixin mt-30 {
  margin-top: 30px;
}

@mixin mrl-30 {
  margin-right: 30px;
}

@mixin mr-30 {
  margin-right: 30px;
}

@mixin mtb-30 {
  margin-bottom: 30px;
}

@mixin mb-30 {
  margin-bottom: 30px;
}

@mixin mrl-30 {
  margin-left: 30px;
}

@mixin ml-30 {
  margin-left: 30px;
}
